language: ruby
rvm:
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - 2.1.2
  - 2.1.3
  - 2.1.4
  - 2.1.5
  - 2.2.0
  - 2.2.1
  - 2.2.2
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
script: bundle exec rspec
branches:
  except:
    - gh-pages